@keyframes bounceIn {
  0% {
    transform: translate(0px, 100px); }
  100% {
    transform: translate(0px, 2px); } }

@-moz-keyframes bounceIn {
  0% {
    -moz-transform: translate(0px, 100px); }
  100% {
    -moz-transform: translate(0px, 2px); } }

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(0px, 2px); } }

@-o-keyframes bounceIn {
  0% {
    -o-transform: translate(0px, 100px); }
  100% {
    -o-transform: translate(0px, 2px); } }

@-ms-keyframes bounceIn {
  0% {
    -ms-transform: translate(0px, 100px); }
  100% {
    -ms-transform: translate(0px, 2px); } }

.animate {
  animation: bounceIn ease-out .25s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: bounceIn ease-out .25s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: bounceIn ease-out .25s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: bounceIn ease-out .25s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: bounceIn ease-out .25s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/ }

.github-corner svg {
  fill: #333 !important; }

.active a, p a {
  color: #C02B2B !important; }

.anchor:hover {
  border-color: #C02B2B !important; }

section.cover {
  color: #fff !important; }
  section.cover p {
    opacity: .8 !important; }

section.cover .cover-main p:last-child a {
  border-color: #333 !important;
  color: #333 !important; }
  section.cover .cover-main p:last-child a:hover {
    color: #fff !important; }

section.cover .cover-main p:last-child a:last-child {
  background-color: #333 !important;
  color: #fff !important; }
  section.cover .cover-main p:last-child a:last-child:hover {
    color: #fff !important; }

#terminal-wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 0px; }
  #terminal-wrapper * {
    color: white; }
  #terminal-wrapper pre {
    background: transparent; }
  @media screen and (min-width: 501px) {
    #terminal-wrapper {
      animation: bounceIn ease-out .25s;
      animation-iteration-count: 1;
      transform-origin: 50% 50%;
      animation-fill-mode: forwards;
      /*when the spec is finished*/
      -webkit-animation: bounceIn ease-out .25s;
      -webkit-animation-iteration-count: 1;
      -webkit-transform-origin: 50% 50%;
      -webkit-animation-fill-mode: forwards;
      /*Chrome 16+, Safari 4+*/
      -moz-animation: bounceIn ease-out .25s;
      -moz-animation-iteration-count: 1;
      -moz-transform-origin: 50% 50%;
      -moz-animation-fill-mode: forwards;
      /*FF 5+*/
      -o-animation: bounceIn ease-out .25s;
      -o-animation-iteration-count: 1;
      -o-transform-origin: 50% 50%;
      -o-animation-fill-mode: forwards;
      /*Not implemented yet*/
      -ms-animation: bounceIn ease-out .25s;
      -ms-animation-iteration-count: 1;
      -ms-transform-origin: 50% 50%;
      -ms-animation-fill-mode: forwards;
      /*IE 10+*/ } }
  #terminal-wrapper .terminal-topbar {
    background: #E0E8F0;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
    text-align: right; }
    #terminal-wrapper .terminal-topbar .button {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      display: inline-block;
      margin: 7px; }
      #terminal-wrapper .terminal-topbar .button.red {
        background: #E75448; }
      #terminal-wrapper .terminal-topbar .button.green {
        background: #2ecc71; }
      #terminal-wrapper .terminal-topbar .button.yellow {
        background: #f39c12; }
  #terminal-wrapper #terminal-container {
    background: #30353A;
    font-family: "Courier new", "Courier", monospace;
    text-align: left;
    padding: 10px;
    height: 360px;
    overflow-x: hidden;
    overflow-y: scroll; }
    #terminal-wrapper #terminal-container * {
      font-size: 14px;
      letter-spacing: 1px; }
      @media screen and (max-width: 500px) {
        #terminal-wrapper #terminal-container * {
          font-size: 11px; } }
    @media screen and (max-width: 500px) {
      #terminal-wrapper #terminal-container {
        height: 200px; } }
    #terminal-wrapper #terminal-container h1 {
      font-size: 16px;
      letter-spacing: 3px; }
    #terminal-wrapper #terminal-container input.terminal-input {
      padding: 0 5px;
      border: none;
      outline: none;
      background: transparent;
      color: white;
      position: relative; }
    #terminal-wrapper #terminal-container .terminal-output {
      white-space: normal !important; }
