<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Termly.js: Documentations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <meta name="language" content="english">
    <meta http-equiv="content-type" content="text/html">
    <meta name="author" content="Simone Corsi">
    <meta name="designer" content="Simone Corsi">
    <meta name="publisher" content="Simone Corsi">

    <meta name="description" content="Simple, Extensible, Hackable and Lightweight Browser Terminal Simulator!">
    <meta name="keywords" content="terminal,javascript,simulator,browser,presentation,mockup,demo,cli,prompt,commands,no depency,lightweight,js,vanilla,Hackable,Web">
    <meta name=”robots” content=”index,follow”>

    <meta property="og:url" content="https://kirkhammetz.github.io/termly.js/" />
    <meta property="og:title" content="Termly.js" />
    <meta property="og:description" content="Simple, Extensible, Hackable and Lightweight Browser Terminal Simulator!" />
    <meta property="og:image" content="https://kirkhammetz.github.io/termly.js/assets/images/termlyjs-preview.png" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42108262-16', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body id="homepage">
    <div class="page-header">
      <img src="/{{ site.baseurl }}assets/images/termly.png" alt="Termly.js" Title="Termly.js" description="Termly.js Logo">
      <h1 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h1>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        <a href="https://github.com/Kirkhammetz/termly.js/archive/master.zip" class="btn">Download .zip</a>
      {% endif %}

      <div id="terminal-wrapper">
        <div class="terminal-topbar">
          <span class="button red"></span>
          <span class="button yellow"></span>
          <span class="button green"></span>
        </div>
        <div id="terminal-container">
          <div class="session">
            <h1>Welcome to Termly.js</h1>
            * Simple, Extensible, Lightweight Javascript Browser Terminal Simulator!<br>
            *<br>
            * Type help for list of commands<br>
            * Type man &lt;command&gt; for extra info<br>
            * source: <a href="https://github.com/Kirkhammetz/termly.js" style="color:white !important; text-decoration: underline;">View on Github</a><br>
            *
          </div>
        </div>
      </div>
    </div>
    <!-- <section class="page-header">
    </section> -->

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
      </footer>
    </section>

    <script src='/{{ site.baseurl }}assets/js/termly-prompt.js'></script>
    <script>var shell = new TermlyPrompt('#terminal-container')</script>
  </body>
</html>
